*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.verticlebar{
    height:100vh;
    width:11%;
    position:fixed;
    background-color:rgb(48, 48, 48);
    color:#bdbaba;
}
.verticlebar img{
    width:90%;
    margin:16px auto;
    margin-left:5px;
}
.verticlebar P{
    font-size:11px;
    word-spacing:5px;
    margin-left:5px;
}
.verticlebar #startbtn{
    display:inline-block;
    width: 80%;
    height:60px;
    margin:10px auto;
    margin-left:15px;
    background-color:black;
    color:#fff;
    font-size:15px;
    border-style: solid;
    border-width: 3px;
    border-image: linear-gradient(45deg, rgb(81, 214, 110), yellow, rgb(119, 82, 119),rgb(68, 110, 126))1;
}
.verticlebar ul li{
    list-style-type:none;
    font-size:20px;
    margin:17px;
    margin-left:20px;
    color:#fff;
}
.verticlebar li:nth-child(4) button{
    background-color:yellow;
    width:40px;
    color:black;
    border-radius:5px;
    margin-top:17px;
}
.verticlebar .bottom-div{
    height:300px;
    position:relative;
    bottom:0px;
    left:0;
}
.bottom-div .imgdiv{
    position:absolute;
    bottom:10px;
    left:10px;
    width:80%;
    height:100px;
}
.bottom-div .imgdiv img{
    position:relative;
    width:100%;
    height:90%;
}
.bottom-div .imgdiv span{
    position:absolute;
    top:22px;
    left:10px;
    color:#fff;
    padding:1px;
    border-radius:5px;
    background-color:black;
}
.verticlebar .foot{
    font-size:15px;
    margin-left:10px;
    word-spacing: none;

}
.container{
    width:89%;
    padding-left:10px;
    background-color:rgb(24, 23, 23);
    color:#fff;
    float:right;
}
.searchbar{
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:100%;
    height:60px;
    color:#bab3b3;
    background-color:rgb(24, 23, 23);
}
.searchdiv{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    width:86%;
    height:50px;
    color:#fcfcfc;
    background-color:rgb(49, 47, 47);
}
.searchdiv input{
    width:95%;
    height:45px;
    font-size:22px;
    border:none;
    outline:none;
    color:#fcfcfc;
    background-color:rgb(52, 50, 50);
}
input[type="text"]:focus {
    outline: none;
}
.searchdiv i{
    font-size:25px;
    margin:10px;
}
.searchdiv .loginbtn{
    width:20%;
    background-color:rgb(58, 53, 53);
}
.loginbtn button{
    padding:15px;
    width:90px;
    color:#fff;
    border-radius:6px;
}
.loginbtn button:nth-child(1){
    background-color:rgb(114, 211, 114);
    color:black;
}
.loginbtn button:nth-child(1):hover{
    background-color:rgb(85, 213, 85);
    color:#fff;
}
.loginbtn button:nth-child(2){
    background-color:#726b6b;
}
.loginbtn button:nth-child(2):hover{
    background-color:#a8a1a1;
}


.wraper1{
    width:100%;
    height:520px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:10px;
}
.wraper1 .firstdiv, .seconddiv{
    width:45%;
    height:500px;
}
.wraper1 div img{
    width:50px;
    height:50px;
}
.firstdiv{
    padding:25px;
}
.header1{
    display:flex;
}
.myh1{
    font-size:45px;
    margin-left:10px;
}
.firstdiv p{
    font-size:20px;
    color:#cac6c6;
}
.firstdiv button{
    padding:15px;
    background-color:rgb(95, 178, 95);
    border:1px;
    border-radius:2px;
    color:black;
    margin-top:20px;
    font-size:15px;
}
.firstdiv button:hover{
    background-color:rgb(103, 219, 103);
    color:#fff;
}
.logodiv{
    position:relative;
    display:flex;
    width:100%;
    height:120px;
    margin:auto;
    padding:10px;
    color:#d4d2d2;
    margin-top:50px;
    background-color:rgb(54, 53, 53);

}
.logodiv .d1{
    width:30%;
    height:55px;
    margin:5px;
    margin-right:10px;
}
.logodiv .d1 img{
    width:100%;
    height:55px;
}
.logodiv .d2 p{
    font-size:17px;
}
.logodiv #abs{
    position:absolute;
    top:0;
    right:0;
    color:#747272;
    margin:5px;                                                               ;
}
#abs:hover{
    color:#f8f1f1;
}
.logodiv:hover{
    background-color:rgb(85, 81, 81);
}
.seconddiv{
    position:relative;
    padding:20px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.seconddiv .d3{
    width: 90%;
    height:400px;
    background-color:rgb(92, 89, 100);
    border-radius:10px;
}
.d3 .di1,.di2, .di3{
    position:absolute;
    width: 280px;
    height:140px;
    background-color:rgb(41, 40, 40);
    color:#fff;
    padding:10px;
    float:right;
    clear:both;
    margin:10px;
    border:none;
    border-radius:5px;
    box-shadow:10px 10px 10px rgb(28, 27, 27);
}
.fa-angle-down{
    float:right;
}
.d3 .di1{
    top:10px;
    right:60px;
}
.di1 i, .di2 i, .di3 i{
    font-size:17px;
    color:#918d8d;
}
.di2{
    top:33%;
    right:10px;
}
.di3{
    top:65%;
    right:70px;
}
.bgimg1{
    width:38%;
    height:550px;
    float:right;
    position:absolute;
    top:75%;
    right:25px;
}
.container-spark{
    background-color:rgb(22, 21, 21);
}
.wraper2{
    width:100%;
    height:300px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:30px;
}
.parenta{
    position:relative;
    width:100%;
    height:550px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.parenta .a1{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    width:28%;
    height:450px;
    margin-right:5px;
}
.a2{
    width:90%;
    height:300px;
    padding:20px;
    background-color:rgb(110, 99, 99);
    border-radius:9px;
}
.a2 .dimg{
    width:72px;
    height:72px;
    position:absolute;
    top:45px;
    left:40px;
    padding:5px;
    border-radius:7px;
    background-color:rgb(38, 36, 36);
}
#pro{
    padding:2px;
    background-color:yellow;
    color:black;
    font-size:13px;
}
.a2 .dimg img{
    width:90%;
    margin:auto;
}
.a2 h1{
    font-size:30px;
    margin-top:35px;
}
.a2 p{
    font-size:17px;
}
.a2 h1, p, button{
    margin-bottom:15px;
}
.a2 button{
    padding:15px;
    background-color:rgb(134, 130, 130);
    color:#e6e3e3;
    border:none;
}
.a2 button:hover{
    background-color:rgb(156, 150, 150);
}
.a2 span{
    color:rgb(78, 175, 213);
}
.a2 span:hover{
    color:#fff;
}
.a2:nth-child(1){
    z-index:1;
}
.parenta #bgimg2{
    width:30%;
    height:100px;
    position:absolute;
    bottom:40px;
    left:0px;
}
